*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: white;
}
.logo{
    height: 100%;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 100%;
    width: 35%;
    /* border: 1px solid black; */
}
nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    transition: 1s;
}
nav ul li a:hover{
    color: #ff2020;
}
.search{
    height: 100%;
    width: 7%;
    /* border: 1px solid black; */
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.fa-magnifying-glass{
    cursor: pointer;
}
.fa-magnifying-glass:hover{
    color: #ff2020;
    font-size: 22px;
}
.fa-user{
    cursor: pointer;
}
.fa-user:hover{
    color: #ff2020;
    font-size: 22px;
}
.fa-cart-shopping{
    cursor: pointer;
}
.fa-cart-shopping:hover{
    color: #ff2020;
    font-size: 22px;
}
/* header is over */

/* seciton a1 is start */

#a1{
    height: 850px;
    width: 100%;
    background-color: rgb(240, 240, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}
.select{
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.s1{
    margin-top: 50px;
    height: 45%;
    width: 60%;
    /* border: 1px solid black; */
}
.s1 h1{
    font-family: "Josefin Sans", sans-serif;
    color: rgb(11, 28, 57);
    font-size: 80px;
}
.s1 p{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    padding-top: 40px;
}
.s1 button{
    height: 45px;
    width: 150px;
    background-color: rgb(74, 74, 75);
    border: 1px solid rgb(74, 74, 75);
    color: white;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    margin-top: 60px;
    z-index: 1;
    position: relative;
}
.s1 button::before{
    content: " ";
    height: 100%;
    width: 10%;
    position: absolute;
    background-color: #ff2020;
    border: 1px solid #ff2020;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}
.s1 button:hover::before{
    width: 100%;
    opacity: 1;
}
.s2{
    height: 100%;
    width: 30%;
    /* border: 1px solid black; */
}
.s2 img{
    height: 100%;
}

/* section a1 is over */

/* section a2 is start */
#a2{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrivals{
    height: 700px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.arrivals #h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 55px;
    width: 100%;
}
.arrival1,.arrival2,.arrival3{
    height: 80%;
    width: 32%;
}
.a1{
    height: 85%;
    width: 100%;
    overflow: hidden;
}
.a1 img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.a1 img:hover{
    transform: scale(1.1);
}
.a2{
    height: 85%;
    width: 100%;
    overflow: hidden;
}
.a2 img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.a2 img:hover{
    transform: scale(1.1);
}
.a3{
    height: 85%;
    width: 100%;
    overflow: hidden;
}
.a3 img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.a3 img:hover{
    transform: scale(1.1);
}
.arrival1 h1{
    font-family: "Josefin Sans", sans-serif;
    color: #444444;
    text-align: center;
    padding-top: 20px;
}
.arrival1 h5{
    font-family: "Josefin Sans", sans-serif;
    color: #ff2020;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}
.arrival2 h1{
    font-family: "Josefin Sans", sans-serif;
    color: #444444;
    text-align: center;
    padding-top: 20px;
}
.arrival2 h5{
    font-family: "Josefin Sans", sans-serif;
    color: #ff2020;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}
.arrival3 h1{
    font-family: "Josefin Sans", sans-serif;
    color: #444444;
    text-align: center;
    padding-top: 20px;
}
.arrival3 h5{
    font-family: "Josefin Sans", sans-serif;
    color: #ff2020;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

/* section a2 is over */

/* section a3 is start */
#a3{
    height: 1450px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular{
    height: 1300px;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.popular #h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    width: 100%;
}
.popular p{
    width: 100%;
    font-family: "Roboto",sans-serif;
    font-size: 18px; 
    text-align: center;  
    color: #777777;
    line-height: 30px;
}
.p1,.p2,.p3,.p4,.p5,.p6{
    height: 470px;
    width: 32%;
    /* border: 1px solid black; */
    position: relative;
}
.p1 img,.p2 img,.p3 img,.p4 img,.p5 img,.p6 img{
    height: 80%;
    width: 100%;
}
.p1 h1,.p2 h1,.p3 h1,.p4 h1,.p5 h1,.p6 h1{
    font-family: "Josefin Sans", sans-serif;
    color: #444444;
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
}
.p1 h5,.p2 h5,.p3 h5,.p4 h5,.p5 h5,.p6 h5{
    font-family: "Josefin Sans", sans-serif;
    color: #ff2020;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}
.popular #btn1{
    width: 250px;
    height: 50px;
    background-color: #ff2020;
    border: 1px solid #ff2020;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    margin-left: 38%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.popular #btn1::before{
    content: " ";
    height: 100%;
    width: 10%;
    position: absolute;
    background-color: #444444;
    border: 1px solid #444444;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}
.popular #btn1:hover::before{
    width: 100%;
    opacity: 1;
}
.p1 button{
    height: 50px;
    width: 360px;
    background-color: #ff2020;
    border: 1px solid #ff2020;
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 17px;
}
/* seciton a3 is over */

/* section a5 is start */

#a5{
    height: 700px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.abc1{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    overflow: hidden;
}
.abc1 img{
    height: 100%;
    width: 100%;
    transition: 1s;
}
.abc1 img:hover{
    transform: scale(1.1);
}
.abc2{
    height: 100%;
    width: 22%;
    /* border: 1px solid black; */
    overflow: hidden;
}
.abc2 img{
    height: 100%;
    width: 100%;
    transition: 1s;
}
.abc2 img:hover{
    transform: scale(1.1);
}
.abc3{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.de{
    height: 47%;
    width: 100%;
    /* border: 1px solid brown; */
    overflow: hidden;
}
.de img{
    height: 100%;
    width: 100%;
    transition: 1s;
}
.de img:hover{
    transform: scale(1.1);
}
.de2{ 
    align-self: flex-end;
    height: 47%;
    width: 100%;
    /* border: 1px solid blue; */
    overflow: hidden;
}
.de2 img{
    height: 100%;
    width: 100%;
    transition: 1s;
}
.de2 img:hover{
    transform: scale(1.1);
}

/* section a5 is over */

/* section a4 is start */
#a4{
    height: 280px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.best{
    height: 100%;
    width: 60%;
    /* border:  1px solid black; */
    background-color: #ff2020;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.best1,.best2,.best3{
    height: 200px;
    width: 27%;
    /* border: 1px solid white; */
}
.fa-cube{
    font-size: 50px;
}
.fa-lock{
    font-size: 50px;
}
.fa-arrow-rotate-left{
    font-size: 50px;
}
.best1 h3,.best2 h3,.best3 h3{
    font-family: "Roboto",sans-serif;
    color: white;
    padding-top: 30px;
}
.best1 p,.best2 p,.best3 p{
    font-family: "Roboto",sans-serif;
    color: #d3d1d1;;
    padding-top: 30px;
    font-size: 17px;
}

/* section a4 is over */


/* footer is start */

footer{
    margin-top: 80px;
    height: 350px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.foo1{
    height: 300px;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f1,.f2,.f3,.f4{
    height: 100%;
    width: 22%;
    /* border: 1px solid black; */
}
.f1 p{
    font-family: "Roboto",sans-serif;
    color: #868c98;
    padding-top: 40px;
}
.f2 h2{
    font-family: "Roboto",sans-serif;
}
.all{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.all a{
    text-decoration: none;
    color: #868c98;
    font-size: 20px;
    padding-top: 20px;
    font-weight: lighter;
    transition: 1s;
}
.all a:hover{
    color: #ff2020;
    padding-left: 8px;
}
.f3 h2{
    font-family: "Roboto",sans-serif;
}

.all1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.all1 a{
    text-decoration: none;
    color: #868c98;
    font-size: 20px;
    padding-top: 20px;
    font-weight: lighter;
    transition: 1s;
}
.all1 a:hover{
    color: #ff2020;
    padding-left: 8px;
}
.f4 h2{
    font-family: "Roboto",sans-serif;
}

.all2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.all2 a{
    text-decoration: none;
    color: #868c98;
    font-size: 20px;
    padding-top: 20px;
    font-weight: lighter;
    transition: 1s;
}
.all2 a:hover{
    color: #ff2020;
    padding-left: 8px;
}